@import "~normalize.css";
@import "./font.css";
body {
	font-family: 'Montserrat', sans-serif;
	background-color: brown;
}

.title{
	font-size: 48px;
	color: black;
}

h2{
	font-size: 48px;
	color: black;
}